<!-- <div
	class="min-[1220px]:hidden pointer-events-none fixed z-10 left-0 right-0 user-select-none bottom-0 h-12 opacity-90 transition-opacity duration-300 bg-blur-lg max-sm:bg-blur-xl"
	style="
		background: linear-gradient(to top, var(--background), transparent);
		-webkit-mask-image: linear-gradient(to top, black 50%, transparent);
		mask-image: linear-gradient(to top, black 50%, transparent);
	"
></div> -->

<!-- NOTE: Not used because of the way it looks on large screen and on Safari iOS (with floating bar enabled), which made it looks good only on Android browsers -->