<title>Johan / Portfolio</title>
<link href="/medias/favicon.png" rel="icon">
<link href="/medias/favicon.png" rel="apple-touch-icon">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="title" content="Johan ― Portfolio">
<meta property="og:title" content="Johan ― Portfolio">
<meta name="description" content="Juste quelqu'un qui code quelques trucs.">
<meta property="og:description" content="Juste quelqu'un qui code quelques trucs.">
<!-- <meta property="og:image" content=""> -->
<!-- <meta name="twitter:card" content="summary_large_image"> -->
<!-- <meta name="twitter:image" content=""> -->