<title>Johan / Portfolio</title>
<link href="/medias/favicon.png" rel="icon">
<link href="/medias/favicon.png" rel="apple-touch-icon">

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="title" content="Johan ― Portfolio">
<meta property="og:title" content="Johan ― Portfolio">
<meta name="description" content="{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'head.description') }}">
<meta property="og:description" content="{{ require(path.join(this.routeFile, '..', 'translations', 'util')).getValue(this.routePath, 'head.description') }}">
<!-- <meta property="og:image" content=""> -->
<!-- <meta name="twitter:card" content="summary_large_image"> -->
<!-- <meta name="twitter:image" content=""> -->

<script>
	const languages = ['en', 'fr']
	const language = window.location.pathname.replace('/', '').slice(0, 2)
	if(!languages.includes(language)){
		var browserLanguage = 'en'
		if(navigator.language && navigator.language.split('-').length) browserLanguage = navigator.language.split('-')[0]
		if(!languages.includes(browserLanguage)) browserLanguage = 'en'

		console.warn(`Redirecting to page with language (${browserLanguage}) because not found in url pathname`)
		const finalRedirect = `/${browserLanguage}/${window.location.pathname.startsWith('/') ? window.location.pathname.replace('/', '') : window.location.pathname}${window.location.hash}${window.location.search == '?' ? '' : window.location.search}`
		console.warn(finalRedirect)
		window.location.href = finalRedirect
	}
</script>