<a href="/" aria-label="Retour à la page d'accueil" class="inline-flex items-center gap-2.5 text-primary-content hover:text-primary-content/80 focus:underline font-semibold transition-colors duration-100 mb-6 {{ $class }}">
	<svg class="hover:text-primary-content/70" height="24" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M11 22.5L3.5 15L11 7.5" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
	</svg>
	<span>Retour en arrière</span>
</a>