<noscript>
	<div class="bg-primary-background z-50 fixed inset-0 p-8 grid place-items-center duration-500 w-screen h-screen">
		<div class="place-items-center">
			<h3 class="text-primary-header font-semibold mt-8 text-3xl text-center">JavaScript désactivé</h3>
			<p class="text-primary-content mt-4 text-xl text-center">
				Pour visiter ce site, vous devrez activer JavaScript dans les réglages de votre navigateur. <a class='hover:underline text-link' href='https://fr.wikihow.com/activer-JavaScript'>Cliquer ici</a> pour en savoir plus.
			</p>
		</div>
	</div>
</noscript>