<div id="loader__background" class="bg-white z-40 fixed inset-0 p-8 grid place-items-center w-screen {{ this.isDev ? 'hidden opacity-0' : '' }}">
	<div class="place-items-center w-full max-w-sm px-3">
		<div id="loader__progressContainer" class="w-full bg-light-background-heavier rounded-full h-2 opacity-0 duration-300">
			<div id="loader__progressBar" class="bg-primary-content h-2 rounded-full transition-all duration-500 bentoCard" style="width: 1%"></div>
		</div>
		<p id="loader__error" class="text-red-500 mt-4 text-base text-center hidden"></p>
	</div>
</div>