<a
	href="{{ $href }}"
	class="bg-light-background hover:bg-light-background-heavy text-primary-content w-fit flex min-[1591px]:justify-center max-[1590px]:gap-1.5 items-center place-items-center space-x-1.5 px-4 py-2.5 rounded-full border box-border border-[rgba(231,231,231,0.9)] transition-all duration-300"
	style="box-shadow: 0px 4px 4px rgba(223,223,223,0.45);"
>
	<svg width="16" height="16" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
		{{ $svgPath }}
	</svg>

	<p class="font-medium text-[13px]">{{ $label }}</p>
</a>