* {
	font-synthesis: none !important;
}

/* Shadow transition on bento card */
.bentoCard {
  box-shadow: 0px 6px 12px 0.5px rgba(0, 0, 0, 0.3);
}
.bentoCard:hover {
  box-shadow: 0px 8px 14px 0.5px rgba(0, 0, 0, 0.35), /* slightly stronger shadow than the default one */
              0px 0px 120px 10px rgba(0, 0, 0, 0.15); /* subtle glow effect */
}

/* Reveal bento card video on hover */
.bentoCard:hover video,
.bentoCard:focus-within video {
  opacity: 1;
}

/* Reveal icons inside of bento card when hovering */
.bentoCard .bentoCardIconsContainer {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 250ms ease, transform 300ms ease;
  will-change: opacity, transform;
}
.bentoCard:hover .bentoCardIconsContainer,
.bentoCard:focus-within .bentoCardIconsContainer {
  opacity: 1;
  transform: translateY(0);
}

/* Some background blur (also requires background, border, box-shadow) */
.bg-blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.bg-blur:hover {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
.bg-heavy-blur {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.bg-heavy-blur:hover {
  backdrop-filter: blur(5.75px);
  -webkit-backdrop-filter: blur(5.75px);
}

/* Main content grid */
.app-container {
  height: 100dvh;

  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.app-container > .myself { grid-area: 1 / 1 / 2 / 2; }
.app-container > .content { grid-area: 1 / 2 / 2 / 3; }

.myself *, .content * {
  overflow-wrap: break-word;
  word-break: break-word;
  min-width: 0;
}

/* Fonts */
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/bricolage-grotesque-v9-latin-200.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-200.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/bricolage-grotesque-v9-latin-300.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-300.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/bricolage-grotesque-v9-latin-regular.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/bricolage-grotesque-v9-latin-500.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-500.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/bricolage-grotesque-v9-latin-600.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-600.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/bricolage-grotesque-v9-latin-700.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-700.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/bricolage-grotesque-v9-latin-800.woff2') format('woff2'),
       url('/fonts/bricolage-grotesque-v9-latin-800.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/schibsted-grotesk-v7-latin-regular.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-regular.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/schibsted-grotesk-v7-latin-italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/schibsted-grotesk-v7-latin-500.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-500.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/schibsted-grotesk-v7-latin-500italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-500italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/schibsted-grotesk-v7-latin-600.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-600.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/schibsted-grotesk-v7-latin-600italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-600italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/schibsted-grotesk-v7-latin-700.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-700.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/schibsted-grotesk-v7-latin-700italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-700italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/schibsted-grotesk-v7-latin-800.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-800.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/schibsted-grotesk-v7-latin-800italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-800italic.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/schibsted-grotesk-v7-latin-900.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-900.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'Schibsted Grotesk';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/schibsted-grotesk-v7-latin-900italic.woff2') format('woff2'),
       url('/fonts/schibsted-grotesk-v7-latin-900italic.ttf') format('truetype');
}
